/* HEADER */
header {
transition: all .3s;
height: 100px;
background-color: #181818;
margin-bottom: 250px;

}

.container.headerContainer {
    display: flex;
    align-items: center;
    height: 100%;
}

.logo   {
    width: 80px;
    height: 80px;
    background-size: contain;
    cursor: pointer;
}

.logoImg {
    width: 100%;
    height: 100%;
}

.logoImg:hover,
.logoImg:focus {
  filter: invert(27%) sepia(51%) saturate(2878%) hue-rotate(346deg) brightness(117%) contrast(97%);
}

.headerTitle {
    margin-left: 60px;
    letter-spacing: 0.8px;
    font-weight: 700;
    font-size: 42px;
    background: linear-gradient(145deg, rgba(255,255,255,1) 0%, rgba(135,135,135,1) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.headerNav {
    margin-left: auto;
    display: flex;
 align-items: center;
 gap: 40px;
}

.home {
    pointer-events: none;
}

.home:hover {
    cursor: pointer;
    color: #eaa91c;
}

#auth {
    cursor: pointer;
    display: flex;

    width: 45px;
    height: 45px;
    alt: 'Log in';
}

#auth:hover,
#auth:focus {
  filter: invert(27%) sepia(51%) saturate(2878%) hue-rotate(346deg) brightness(117%) contrast(97%);
}

@media screen and (max-width: 768px){

    header {
        margin-bottom: 150px;
    }

    .logo {
        width: 60px;
        height: 60px;
    }

    .headerTitle  {
        margin-right: 15px;
    }

}

@media screen and (max-width: 484px){

    header {
        height: 140px;
    }
}

@media screen and (max-width: 425px){

    header {
        margin-bottom: 150px;
    }

    .logo {
        width: 55px;
        height: 55px;
    }

    .headerTitle {
        margin-left: 35px;
        font-size: 34px;
    }

    .home {
        font-size: 14px;
    }

}

@media screen and (max-width: 375px){

    header {
        margin-bottom: 100px;
    }

    .logo {
        width: 50px;
        height: 50px;
    }

    .headerTitle {
        margin-left: 30px;
        font-size: 30px;
    }

}

@media screen and (max-width: 320px){

    header {
        margin-bottom: 80px;
    }
}