.searchFields {
    display: flex;
align-items: center;
justify-content: center;
flex-direction: column;
}

.searchContainer {
    display: flex;
    margin-bottom: 50px;
    height: 50px;
}

.searchTitle {
    font-weight: 700;
    font-size: 42px;
    margin-bottom: 25px;
}

.regionSearch { 
     font-size: 16px;
    transition: all .3s;
    width: 75px;
    border-radius: 25px 0 0 25px;
    text-indent: 15px;
    color: #fff;
    background-color: #101010;
    border: none;
    opacity: 0.7;
    outline: none;
}

.regionSearch:focus {
    opacity: 1;

}

.searchInput {
    font-family: 'Roboto Condensed', sans-serif;
    letter-spacing: 0.7px;
    width: 300px;
    background-color: #181818;
    border: 0;
    text-indent: 15px;
    color: #fff;
    font-weight: 400;
    font-size: 14px;
    
}

.searchInput:focus{
    outline: none;
    background-color: #202020;
}

.searchInput::placeholder {
    color: rgb(163, 163, 163);
}

.searchButton {
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: 400;
    font-size: 16px;
    border-radius: 0 25px 25px 0;
    opacity: 0.8;
    width: 90px;
    color: #fff;
background-color: #080808;
border: 0;
}

.searchButton:hover {
    transition: all .3s;
    opacity: 1;
    color: #eaa91c;
}

@media screen and (max-width: 768px){

    .searchTitle {
        font-size: 36px;
    }

    .searchContainer {
        margin-bottom: 40px;
        height: 40px;
    }

    .regionSearch {
        font-size: 14px;
        width: 60px;
        border-radius: 20px 0 0 20px;
        text-indent: 12px;
    }

    .searchInput {
        width: 250px;
        text-indent: 12px;
        font-size: 14px;
        
    }


    .searchButton {
        font-size: 14px;
        border-radius: 0 20px 20px 0;
        width: 70px;
    }

}

@media screen and (max-width: 420px){

    .searchTitle {
        font-size: 28px;
        text-align: center;
    }

    .searchContainer {
        margin-bottom: 40px;
        height: 40px;
    }

    .regionSearch {
        font-size: 14px;
        width: 60px;
        border-radius: 20px 0 0 20px;
        text-indent: 12px;
    }

    .searchInput {
        width: 200px;
        text-indent: 12px;
        font-size: 14px;
        
    }


    .searchButton {
        font-size: 14px;
        border-radius: 0 20px 20px 0;
        width: 70px;
    }

}

@media screen and (max-width: 375px){

    .searchTitle {
        font-size: 24px;
        text-align: center;
    }

    .searchContainer {
        margin-bottom: 30px;
        height: 39px;
    }

    .regionSearch {
        font-size: 12px;
        width: 50px;
        border-radius: 17px 0 0 17px;
        text-indent: 10px;
    }

    .searchInput {
        width: 175px;
        text-indent: 10px;
        font-size: 12px;
        
    }


    .searchButton {
        font-size: 12px;
        border-radius: 0 17px 17px 0;
        width: 55px;
    }

}