.statsNick {
    font-weight: 700;
    font-size: 56px;
}

/* BATTLES */
.statsBattles{
    margin-top: 20px;
    margin-bottom: 50px;
    display: flex;
    align-items: center;
    justify-content: start;
    gap: 15px;
}

.statsSwords {
    width: 30px;
    height: 30px;
    background-image: url(./svgIcons/swords.svg);
    filter: invert(100%);
}

.battlesNum {
    font-size: 24px;
    font-weight: 400;
}

.winrateNum {
  margin-bottom: 40px;
  font-weight: 400;
  font-size: 20px;
}

.generalStatsContainer {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 100%;
}

.hoverContainer {
    margin-bottom: 20px;

}

.generalStatsParameter {
    cursor: pointer;
    padding-inline: 30px;
    width: 90%;
    background-color: #202020;
    padding-block: 12px;
    display: flex;
    gap: 15px;
    justify-content: space-between;
    align-items: center;
    font-size: 22px;
    font-weight: 400;
    border-radius: 5px;
}

.generalStatsParameterDescr {
    display: inline-block;
}

.generalStatsNum {
    width: min-content;
}

@media screen and (max-width: 768px) {

    .statsNick {
        font-size: 52px;
    }
    
    .battlesNum {
        font-size: 22px;
    }
    
    .winrateNum {
      margin-bottom: 36px;
      font-weight: 400;
      font-size: 20px;
    }

    .statsSwords {
        width: 28px;
        height: 28px;
    }

    .winrateNum {
        margin-bottom: 36px;
        font-size: 18px;
    }

    .generalStatsParameter {
        padding-inline: 18px;
        width: 88%;
        padding-block: 10px;
 
        font-size: 20px;
    }
    
}

@media screen and (max-width: 425px) {

    .statsNick {
        font-size: 42px;
    }
    
    .battlesNum {
        font-size: 20px;
    }
    
    .winrateNum {
      margin-bottom: 40px;
      font-weight: 400;
      font-size: 20px;
    }

    .statsSwords {
        width: 26px;
        height: 26px;
    }

    .winrateNum {
        margin-bottom: 32px;
        font-size: 16px;
    }

    .generalStatsParameter {
        padding-inline: 16px;
        width: 88%;
        padding-block: 10px;
 
        font-size: 18px;
    }
    
}